
<ion-header-bar class="bar-stable myheader">
    <img src="css/images/header-logo.png" width="204" height="80" alt=""/>
</ion-header-bar>
<ion-content class="mainWrapper" ng-controller="regCtrl">


    <div class="maincontent" ng-controller="thanksCtrl">

        <div class="thanks">
            <h1>Thank you for registering with Icon Design Store</h1>

            <p class="confirmation">Your account has been created and a confirmation email has been sent to <span
                    class="mail">{{mail}}</span> your
                registered email address.</p>

            <p class="visit">Please visit our website <span class="link">www.icondesigndxb.com</span> to know more about
                our products & latest
                promotion !</p>

            <h3 class="thanks">Thanks</h3></div>
        <button class="button button-block  regbtn" ui-sref="home" >
            Go Back
        </button>

    </div>

</ion-content>


